/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/karla-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/karla-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-700 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/karla-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/karla-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Globals */
* {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-content: center;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: hsl(218, 22%, 67%);
}

p {
    line-height: 1.5rem;
}

ul {
    list-style: none;
    opacity: 75%;
    padding-left: 0;
    line-height: 1.4rem;
}

h2 {
    font-size: 1.1rem;
    font-weight: 700;
}


/* The card */
.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 2rem;
    background-color: white;
    max-width: 700px;
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: 0 0 1.5rem -0.75rem currentColor;
}

.card__header {
    grid-column: 1 / -1;
    padding: 2rem 3rem;
}

.card__header h1 {
    color: hsl(179, 62%, 43%);
}

.card__header h2 {
    color: hsl(71, 73%, 54%);
}

.card__subscription {
    padding: 2rem;
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.card__subscription div.price-text {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-top: 1.75rem;
}

div.price-text .price {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

div.price-text .text {
    opacity: 65%;
    margin: 0;
}

.card__about {
    padding: 2rem;
    background-color: hsl(179, 67%, 45%);
    color: white;
}


/* Buttons */
.btn {
    display: block;
    width: 100%;
    background-color: hsl(71, 73%, 54%);
    border-radius: .55rem;
    padding: 1.25rem 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    box-shadow: .7rem .7rem 1rem -0.8rem hsl(179, 62%, 30%);
    margin-top: 1.5rem;
}
